---
import Base from "@/layouts/Base.astro";
import ArticleCard from "@/components/page/ArticleCard.astro";
import Footer from "@/components/layout/Footer.astro";
import Heading1 from "@/components/core/Heading1.astro";
import { articles } from "@/scripts/collections";
import { formatDate } from "@/scripts/utils/formatters";
import type { CollectionEntry } from "astro:content";

type BlogEntry = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const staticPaths = articles.map((entry, i) => ({
    params: { slug: entry.slug },
    props: {
      nextEntry: (i > 0) ? articles[i-1] : undefined,
      prevEntry: (i < articles.length-1) ? articles[i+1] : undefined,
      entry,
    },
  }));

  return staticPaths;
}

interface Props {
  entry: BlogEntry,
  nextEntry?: BlogEntry,
  prevEntry?: BlogEntry,
}

const { entry, prevEntry, nextEntry } = Astro.props;
const { title, summary, date } = entry.data;
const { Content } = await entry.render();
---

<Base pageTitle={title}>
  <div class="text-gray-800">
    <div class="border-t-8 pt-4 pb-20 border-gray-800">
      <header class="mb-16 pb-6 font-serif border-b border-gray-800">
        <Heading1>{title}</Heading1>
        <p>{summary}</p>
        <p class="mt-2 text-[14px] font-light"><time>{formatDate(date)}</time></p>
      </header>

      <main id="post-main">
        <Content />
      </main>
    </div>

    <nav id="post-nav" class="py-8 border-t border-gray-800">
      {
        nextEntry && <ArticleCard article={nextEntry} />
      }
      {
        prevEntry && <ArticleCard article={prevEntry} />
      }
      <div class="mt-4">
        <a href="/" class="block py-1.5 px-3 rounded-sm font-light mx-auto w-fit border border-gray-500">Home</a>
      </div>
    </nav>

    <div class="mt-2 border-t">
      <Footer />
    </div>
  </div>
</Base>

<style is:global>
  #post-main {
    @apply text-[14px] md:text-[16px] text-gray-800 text-justify;
  }

  #post-main > h1 {
    @apply text-[20px] md:text-[24px] font-bold mt-16 mb-2 font-serif;
  }

  #post-main > h2 {
    @apply text-[16px] md:text-[18px] font-bold mt-8 mb-2 font-serif;
  }

  #post-main > p {
    @apply my-2;
  }

  #post-main > .astro-code {
    @apply my-2 text-[0.875em] pl-4 border-l border-gray-500;
  }

  #post-main > .katex-display {
    @apply overflow-x-auto overflow-y-hidden;
  }

  #post-main > p > a {
    @apply text-blue-500;
  }

  #post-main > ul {
    @apply ml-6;
  }

  #post-main > ul > li {
    @apply list-disc my-2;
  }
</style>
