---
import Base from "@/layouts/Base.astro";
import ArticleCard from "@/components/page/ArticleCard.astro";
import Footer from "@/components/layout/Footer.astro";
import Share from "@/components/post/ShareButton.astro";
import Home from "@/components/icon/Home.astro";
import Giscus from "@/components/post/Giscus.astro";
import Heading1 from "@/components/core/Heading1.astro";
import { articles } from "@/scripts/collections";
import { formatDate } from "@/scripts/utils/formatters";
import type { CollectionEntry } from "astro:content";

type BlogEntry = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const staticPaths = articles.map((entry, i) => ({
    params: { slug: entry.slug },
    props: {
      nextEntry: (i > 0) ? articles[i-1] : undefined,
      prevEntry: (i < articles.length-1) ? articles[i+1] : undefined,
      entry,
    },
  }));

  return staticPaths;
}

interface Props {
  entry: BlogEntry,
  nextEntry?: BlogEntry,
  prevEntry?: BlogEntry,
}

const { entry, prevEntry, nextEntry } = Astro.props;
const { href } = Astro.url;
const { title, summary, date } = entry.data;
const { Content } = await entry.render();
---

<Base pageTitle={title} desc={summary} image={entry.data.thumbnail} url={href}>
  <div class="text-gray-800">
    <div>
      <header class="mb-12 pt-12 font-serif border-t-8 border-gray-800">
        <Heading1>{title}</Heading1>
        <p>{summary}</p>
        <p class="mt-2 text-[14px] font-light"><time>{formatDate(date)}</time></p>
      </header>

      <main id="post-main" class="my-12 pt-12 border-t border-gray-800">
        <Content />
      </main>
    </div>

    <div class="my-12 flex">
      <div class="mx-auto">
        <Share url={href} title={title} />
      </div>
    </div>

    <div class="my-12 pt-12 border-t border-gray-800">
      {import.meta.env.PROD ? (
        <Giscus />
      ) : (<p style='text-align: center'>(Giscus will be rendered here on production mode)</p>)}
    </div>

    <nav id="post-nav" class="my-12 pt-12 border-t border-gray-800">
      {
        nextEntry && <ArticleCard article={nextEntry} />
      }
      {
        prevEntry && <ArticleCard article={prevEntry} />
      }
      <div class="mt-4">
        <a href="/" class="block py-1.5 px-3 mx-auto w-fit">
          <Home />
        </a>
      </div>
    </nav>

    <div class="my-12 pt-12 border-t border-gray-800">
      <Footer />
    </div>
  </div>
</Base>

<style is:global>
  #post-main {
    @apply text-[14px] md:text-[16px] text-gray-800 text-justify;
  }

  #post-main .serif {
    @apply font-serif;
  }

  #post-main > h1 {
    @apply text-[20px] md:text-[24px] font-bold mt-16 mb-2 font-serif;
  }

  #post-main > h2 {
    @apply text-[16px] md:text-[18px] font-bold mt-8 mb-2 font-serif;
  }

  #post-main > p {
    @apply my-2;
  }

  #post-main code {
    @apply tracking-tight;
  }

  #post-main > .astro-code {
    @apply my-2 text-[0.875em] pl-4 border-l border-gray-500 text-left whitespace-pre-wrap;
  }

  #post-main > .astro-code .highlighted-word {
    @apply m-[-2px] p-[1px] border border-slate-300 bg-slate-50 rounded-md;
  }

  #post-main > .katex-display {
    @apply overflow-x-auto overflow-y-hidden;
  }

  #post-main > .katex-display > .katex > .katex-html > .tag {
    right: 0.25ex; /* hackish code; to remove scroll that \tag{} makes */
  }

  #post-main a {
    @apply text-blue-500;
  }

  #post-main > ul,
  #post-main > ol {
    @apply ml-6;
  }

  #post-main > ul > li,
  #post-main > ol > li {
    @apply my-2;
  }

  #post-main > ol > li {
    @apply list-decimal;
  }

  #post-main > ul > li {
    @apply list-disc;
  }
</style>
