---
import { sortBlogCollectionByTitle } from "@/scripts/utils/collections";
import { getCollection } from "astro:content";
import { range } from "lodash-es";
import ListPage from "@/layouts/ListPage.astro";
import GrayLink from "@/components/page/GrayLink.astro";
import Section from "@/components/page/Section.astro";
import config from "@/config";

const posts = sortBlogCollectionByTitle(await getCollection("blog"));

const getCodePoint = (char: string): number => {
  const codePoint = char.codePointAt(0);
  if (codePoint === undefined) {
    throw new Error(`Undefined codepoint from '${char}'`);
  }
  return codePoint;
};

const getInitialConsonant = (str: string): string => {
  const first = getCodePoint(str[0]);
  if (first < getCodePoint("가") || getCodePoint("힣") < first) {
    // non-hangul
    return str[0];
  }

  const hangulConsonant = range(getCodePoint("ᄀ"), getCodePoint("ᄒ") + 1).map(
    (i) => String.fromCodePoint(i),
  );
  const index = Math.floor(
    (getCodePoint(str[0]) - getCodePoint("가")) / (21 * 28),
  );
  const initialConsonant = hangulConsonant[index];

  return initialConsonant;
};

function getArrayOrSet<T, U>(map: Map<T, U[]>, key: T): U[] {
  let array = map.get(key);
  if (array === undefined) {
    array = [];
    map.set(key, array);
  }

  return array;
}

const postGroups = new Map<string, { title: string; id: string }[]>();
for (const post of posts) {
  const consonant = getInitialConsonant(post.data.title);
  getArrayOrSet(postGroups, consonant).push({
    title: post.data.title,
    id: post.id,
  });
}
---

<ListPage pageTitle="Index">
  <Section heading="Posts.">
    <div class="grid grid-cols-2 gap-x-2 gap-y-4">
      {
        Array.from(postGroups.entries()).map(([name, entries]) => (
          <div class="flex flex-col gap-y-2">
            <p class="flex-0 sm:text-[16pt] text-[14pt] font-semibold">
              {name}
            </p>
            <div class="flex-0 flex flex-col gap-y-1 font-light">
              {entries.map((entry) => (
                <GrayLink
                  href={`${config.paths.posts}/${entry.id}/`}
                  grayLevel="dark"
                >
                  {entry.title}
                </GrayLink>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </Section>
</ListPage>
