---
import Base from "../layouts/Base.astro";
import Footer from "../components/common/Footer.astro";
import Card from "@components/articles/Card.astro";
import { getCollection } from "astro:content";
import { reverse, sortBy } from "lodash-es";

const collection = await getCollection("blog");
const sorted = reverse(sortBy(collection, item => item.data.date));
const basePath = "/posts/";
---

<Base pageTitle="Home">
  <main class="text-gray-800 border-t-8 border-gray-800">
    <h1 class="my-4 text-[32px] font-display">Articles.</h1>
    <ul class="block my-4">
      {
        sorted.map(entry => {
          const { slug, data } = entry;
          const { title, date, summary, thumbnail } = data;

          return (
            <li class="block border-t border-gray-100">
              <a href={`${basePath}${slug}`} class="block py-4">
                <Card
                  title={title}
                  date={date}
                  summary={summary}
                  thumbnail={thumbnail}
                />
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
  <div class="mt-12">
    <Footer />
  </div>
</Base>
