---
import type { CollectionEntry } from "astro:content";
import config from "@/config";
import { join } from "@/scripts/utils/paths";
import Card from "./Card.astro";

interface Props {
  article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
const { id, data } = article;
const { title, date, summary, thumbnail } = data;
const url = join(config.paths.posts, id);
---

<a href={url} class="block py-4">
  <Card
    title={title}
    date={date}
    summary={summary}
    thumbnail={thumbnail}
  />
</a>
